@import "../../sass/mixins"

.glass
  width: 175px
  height: 450px
  box-shadow: 0 0 30px 20px $border
  display: flex
  padding: 1.5rem 1rem 1rem
  align-items: flex-end
  margin: 70px auto
  border-radius: 0 0 30px 30px
  font-size: 1.5rem
  font-family: "IndieFlower", sans-serif
  position: relative

  @include md
    width: 100px
    height: 250px
    font-size: 1rem
    padding: 1rem 0.5rem 0.5rem

  @include sm
    margin: 15px 15% 15px auto

  &__tube
    background-color: $secondary
    position: absolute
    width: 15%
    height: 100%
    left: 60%
    bottom: 30%
    transform: rotate(15deg)

  &__ice
    width: 70%
    height: 27%
    position: absolute
    border-radius: 30%
    background-color: transparentize(#fff, .7)
    border: 1px solid transparentize(#fff, .7)
    z-index: 1

    &:nth-of-type(1)
      bottom: calc(1rem + 2%)
      right: calc(1rem + 5%)
      transform: rotate(30deg)

      @include md
        right: 1rem
        bottom: 1rem

    &:nth-of-type(2)
      bottom: calc(1rem + 2% + 27% + 3%)
      right: calc(1rem + 5%)
      transform: rotate(-30deg)

      @include md
        right: 1rem
        bottom: calc(1rem + 27% + 2%)

  &__content
    width: 100%
    height: 100%
    display: flex
    flex-direction: column-reverse

  &__ingredient
    position: relative
    opacity: 0.98

    &:first-of-type
      border-radius: 0 0 20px 20px

    .ingredient__name
      right: 130%
      width: 200%
      text-transform: capitalize
      position: absolute
      top: 50%
      transform: translateY(-50%)
      text-align: right

      @include md
        width: 300%
        right: 140%

    .ingredient__amount
      left: 130%
      width: 200%
      position: absolute
      top: 50%
      transform: translateY(-50%)

      @include md
        display: none

      @include sm
        width: 400%

      @include sm
        text-align: right
        right: 300%
        top: 50%
        transform: translateY(-50%)
        left: auto

    &_rum
      background-color: #45362b

    &_coke
      background-color: #370b15

    &_cranberry.juice
      background-color: #ba4242

    &_orange.juice
      background-color: #F7CA05

    &_crème.de.cassis.liqueur
      background-color: #0d0d0b

    &_peach.schnapps
      background-color: #FFDCD6

    &_vodka
      background-color: rgba(#bfc0ee, 0.3)
