@import "../../sass/mixins"

.glass
  width: 175px
  height: 450px
  border-left: 20px solid $border
  border-right: 20px solid $border
  border-bottom: 20px solid $border
  display: flex
  align-items: flex-end
  margin: 50px auto
  border-radius: 0 0 10px 10px
  font-size: 1.8rem

  @include md
    width: 100px
    height: 250px
    border-left: 10px solid $border
    border-right: 10px solid $border
    border-bottom: 10px solid $border
    font-size: 1.2rem

  @include sm
    margin: 15px 20% 15px auto

  &__content
    width: 100%
    height: 97%
    display: flex
    flex-direction: column-reverse

  &__ingredient
    position: relative

    .ingredient__name
      right: 130%
      width: 200%
      text-transform: capitalize
      position: absolute
      top: 50%
      transform: translateY(-50%)
      text-align: right

      @include md
        width: 300%
        right: 140%

    .ingredient__amount
      left: 130%
      width: 200%
      font-size: 2rem
      position: absolute
      top: 50%
      transform: translateY(-50%)

      @include md
        display: none

      @include sm
        width: 400%

      @include sm
        text-align: right
        right: 300%
        top: 50%
        transform: translateY(-50%)
        left: auto

    &_rum
      background-color: #45362b

    &_coke
      background-color: #370b15

    &_cranberry.juice
      background-color: #ba4242

    &_orange.juice
      background-color: #F7CA05

    &_crème.de.cassis.liqueur
      background-color: #0d0d0b

    &_peach.schnapps
      background-color: #FFDCD6

    &_vodka
      background-color: rgba(#bfc0ee, 0.3)
