.rum
  background-color: #45362b !important

.coke
  background-color: #370b15 !important

.cranberry-juice
  background-color: #ba4242 !important

.orange-juice
  background-color: #F7CA05 !important

.crème-de-cassis-liqueur
  background-color: #0d0d0b !important

.peach-schnapps
  background-color: #FFDCD6 !important

.vodka
  background-color: rgba(#bfc0ee, 0.3) !important

.melon-liqueur
  background-color: #00cb00 !important

.lemon-juice
  background-color: #fafb73 !important

.lime-juice
  background-color: #e5e896 !important

.club-soda
  background-color: #E2EDEB !important

.suntory-roku-gin
  background-color: #d4f1f9AA !important

.simple-syrup
  background-color: #bb9351AA !important

.whiskey
  background-color: #CD853F !important

.soda-water
  background-color: #E6F0FF !important

.gin
  background-color: #D9E4E0 !important // light gin color

.tonic
  background-color: #E0F7FA !important // light, bubbly tonic water color

.grapefruit-soda
  background-color: #FFC1C1 !important // pale pink for grapefruit soda

.tequila
  background-color: #F4C430 !important // golden yellow tequila

.ginger-beer
  background-color: #D2B48C !important // ginger beer with a tan color

.dark-rum
  background-color: #8B4513 !important // dark, rich brown for rum

.sugar
  background-color: #FAFAD2 !important // light beige for sugar

.lemonade
  background-color: #FFFACD !important // pale yellow for lemonade

.vermouth
  background-color: #D2B48C !important // tan color for vermouth
