$border: rgba(0, 0, 0, 0.1)

// Mobile phones and small tablets (landscape)
$screen-sm: 639px

// Small tablets (portrait)
$screen-md: 768px

// Small desktops
$screen-lg: 1024px

// Large tablets and desktops
$screen-xl: 1280px
