.match
  display: flex
  padding: 20px
  margin: 20px 0
  border-radius: 15px
  border: 1px solid #eee
  text-decoration: none
  color: #000

  &__drink-img
    height: 300px
    background-size: cover
    background-position: 50% 50%
    border-radius: 10px

  &__drink-info
    display: flex
    flex-direction: column
    margin: 0 30px

  &__drink-description
    display: -webkit-box
    -webkit-line-clamp: 7
    -webkit-box-orient: vertical
    overflow: hidden

  &__percent
    display: flex
    align-items: center
    justify-content: center
    min-width: 25%
