@font-face
  font-family: 'AmaticSC'
  src: url('./AmaticSC-Regular.ttf')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'AmaticSC'
  src: url('./AmaticSC-Bold.ttf')
  font-style: normal
  font-weight: bold

@font-face
  font-family: 'PatuaOne'
  src: url('PatuaOne-Regular.ttf')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Ubuntu'
  src: url('Ubuntu-Regular.ttf')
  font-style: normal
  font-weight: normal

@font-face
  font-family: 'Ubuntu'
  src: url('Ubuntu-Bold.ttf')
  font-style: normal
  font-weight: bold

@font-face
  font-family: 'IndieFlower'
  src: url('IndieFlower-Regular.ttf')
  font-style: normal
  font-weight: normal

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap')
