@import "../../sass/main"

@keyframes loading
  0%
    margin-top: 0

  50%
    margin-top: -50px

  100%
    margin-top: 0

.loading
  display: flex
  flex-direction: column
  width: 100%
  justify-content: center
  align-items: center
  height: 100vh
  max-height: 90vh

  &__container
    width: 20rem
    height: 8rem
    display: flex
    justify-content: space-around

  &__circle
    display: block
    width: 5rem
    height: 5rem
    border-radius: 50%
    background-color: $primary-color

  &__message
    font-size: 4rem
    font-family: 'Jost', sans-serif
    margin: 70px 0

    @include lg
      font-size: 1.5rem

    @include md
      font-size: 1.2rem

    @include sm
      font-size: 1rem
