@import "./vendor/reset"

@tailwind base
@tailwind components
@tailwind utilities

@import "./fonts/fonts"
@import "./sass/mixins"

body
  margin: 0
  font-family: "AmaticSC", sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
