@import "./vendor/reset"

@tailwind base
@tailwind components
@tailwind utilities

@import "./fonts/fonts"
@import "./sass/mixins"

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Sorts+Mill+Goudy&family=Hind+Vadodara&display=swap')

.ff-raleway
  font-family: 'Raleway', sans-serif

.ff-sorts
  font-family: 'Sorts Mill Goudy', serif

.ff-hind
  font-family: 'Hind Vadodara', sans-serif

body
  margin: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.ff-amatic
  font-family: "AmaticSC", sans-serif

.ff-patrick
  font-family: "Patrick Hand", sans-serif

.ff-montse
  font-family: "Montserrat", sans-serif
